@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgb(6,40,75);
  background: linear-gradient(240deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.308) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.089);
  padding: 15px 20px;
  width: 25%;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0% 30%;

}

.description {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 300;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 16px;
  font-weight: 300;
  border-radius: 100px;
  background: rgb(6,40,75);
  background: linear-gradient(360deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.575) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.226);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 300;
  border-radius: 100px;
  background: rgb(6,40,75);
  background: linear-gradient(180deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.575) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.226);
  padding: 1px 22px;
}
