@import "../../vars.css";
.container {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  width: 90%; /* Adjust width as needed */
  max-width: 1000px; /* Optional: maximum width for larger screens */
  margin: auto; /* Center container */
}

.image {
  margin-right: 20px; /* Increase spacing between image and text */
  border-radius: 10px;
  width: 300px; /* Set a fixed width for the image */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.content {
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px; /* Increase font size if needed */
  font-weight: 500;
}

.description {
  margin-top: 10px; /* Increase margin for better spacing */
  font-size: 15px; /* Increase font size for readability */
  font-weight: 300;
}

.links {
  width: 100%;
  margin-top: 20px; /* Adjust margin for spacing */
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 300;
  border-radius: 100px;
 border: 2px solid var(--color-primary);
  padding: 5px 20px; 
  
}
.link:hover{
  background-color: var(--color-primary);

}
