@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: rgb(6,40,75);
  background: linear-gradient(240deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.308) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.089);
  padding: 15px 20px;
  width: 35%;
}

.content{
  display: grid;
  margin: 10%;
}


.title {
  font-size: 18px;
  font-weight: 500;

}

.description {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 300;
}


.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 300;
  border-radius: 100px;
  background: rgb(6,40,75);
  background: linear-gradient(180deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.575) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.226);
  padding: 1px 22px;
}
