@import "../../vars.css";

.container {
  display: grid;
  color: var(--color-text);
  margin: 10%;
}

.title {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  justify-self: center;
  text-transform: uppercase;
  margin: 4%;

}

.content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.skills {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background: rgb(6,40,75);
  background: linear-gradient(360deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.575) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.226);
  border-radius: 20PX;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.skillImageContainer img {
  width: 40px;
}

.skill p {
  font-size: 13px;
  font-weight: 300;
}

.history {
  width:80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: rgb(6,40,75);
  background: linear-gradient(240deg, rgba(6, 40, 75, 0.705) 0%, rgba(0, 204, 255, 0.308) 100%);
  box-shadow: 0 0 10px 0   rgba(0, 204, 255, 0.089);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 40px;
  display: none;
}

.historyItemDetails h3 {
  font-size: 16px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 300;
}

.ExperienceInfo  {
  margin-top: 6px;
  font-size: 13px;
  text-align: justify;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
